# Import libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\justi\OneDrive\Documents\Career foundry\Data Immersion 6'

In [3]:
df_team_recruit = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'recruits_team_f.csv'), index_col = False)

In [4]:
df_team_recruit.describe()

,Column1,year_x,rating,stars,id,athlete_id,year_y,games,win,loss,off_Rank,def_Rank
count,13243.000000,13243.000000,13243.000000,13243.000000,13243.000000,1.324300e+04,13243.000000,13243.000000,13243.000000,13243.000000,13243.000000,13243.000000
mean,6621.000000,2019.784716,0.846442,3.016008,62354.143019,3.620011e+06,2019.784716,11.771577,6.314279,5.457298,64.484784,63.504040
std,3823.069142,1.362852,0.048942,0.583505,15796.332755,1.872966e+06,1.362852,2.286067,3.205163,2.560823,37.266013,37.673576
min,0.000000,2018.000000,0.699600,1.000000,42908.000000,-1.044072e+06,2018.000000,3.000000,0.000000,0.000000,1.000000,1.000000
25%,3310.500000,2019.000000,0.812400,3.000000,47490.500000,4.361324e+06,2019.000000,12.000000,4.000000,4.000000,33.000000,30.000000
50%,6621.000000,2020.000000,0.844000,3.000000,62342.000000,4.430114e+06,2020.000000,12.000000,6.000000,6.000000,64.000000,63.000000
75%,9931.500000,2021.000000,0.871650,3.000000,72725.500000,4.683166e+06,2021.000000,13.000000,9.000000,7.000000,97.000000,96.000000
max,13242.000000,2022.000000,0.999900,5.000000,95141.000000,5.100583e+06,2022.000000,15.000000,15.000000,12.000000,131.000000,131.000000

In [5]:
df_team_recruit.shape

(13243, 27)

In [6]:
df_team_recruit.columns

Index(['Column1', 'primary_key', 'year_x', 'name', 'position', 'school',
       'ranking', 'rating', 'stars', 'committed_to', 'recruit_type', 'height',
       'weight', 'city', 'state', 'country', 'id', 'athlete_id', 'year_y',
       'team', 'conference', 'games', 'win', 'loss', 'off_Rank', 'def_Rank',
       '_merge'],
      dtype='object')

In [7]:
df_team_recruit.rename(columns = {'year_x' : 'freshman_year'}, inplace = True)

In [8]:
df_team_recruit.rename(columns = {'school' : 'high_school'}, inplace = True)

In [9]:
df_team_recruit.rename(columns = {'city' : 'high_school_city'}, inplace = True)

In [10]:
df_team_recruit.rename(columns = {'state' : 'high_school_state'}, inplace = True)

In [11]:
df_team_recruit.rename(columns = {'country' : 'high_school_country'}, inplace = True)

In [12]:
df_team_recruit.rename(columns = {'year_y' : 'ncaa_year'}, inplace = True)

In [13]:
df_team_recruit.rename(columns = {'team' : 'ncaa_team'}, inplace = True)

In [14]:
df_team_recruit.rename(columns = {'games' : 'total_games'}, inplace = True)

In [57]:
df_team_recruit.rename(columns = {'off_Rank' : 'off_rank'}, inplace = True)

In [58]:
df_team_recruit.rename(columns = {'def_Rank' : 'def_rank'}, inplace = True)

In [15]:
df_team_recruit.dtypes

Column1                  int64
primary_key             object
freshman_year            int64
name                    object
position                object
high_school             object
ranking                 object
rating                 float64
stars                    int64
committed_to            object
recruit_type            object
height                  object
weight                  object
high_school_city        object
high_school_state       object
high_school_country     object
id                       int64
athlete_id               int64
ncaa_year                int64
ncaa_team               object
conference              object
total_games              int64
win                      int64
loss                     int64
off_Rank                 int64
def_Rank                 int64
_merge                  object
dtype: object

In [16]:
df_team_recruit['primary_key'] = df_team_recruit['primary_key'].astype('str')

In [17]:
df_team_recruit['name'] = df_team_recruit['name'].astype('str')

In [18]:
df_team_recruit['position'] = df_team_recruit['position'].astype('str')

In [19]:
df_team_recruit['high_school'] = df_team_recruit['high_school'].astype('str')

In [20]:
df_team_recruit['committed_to'] = df_team_recruit['committed_to'].astype('str')

In [21]:
df_team_recruit['recruit_type'] = df_team_recruit['recruit_type'].astype('str')

In [22]:
df_team_recruit['high_school_city'] = df_team_recruit['high_school_city'].astype('str')

In [23]:
df_team_recruit['high_school_state'] = df_team_recruit['high_school_state'].astype('str')

In [24]:
df_team_recruit['high_school_country'] = df_team_recruit['high_school_country'].astype('str')

In [25]:
df_team_recruit['ncaa_team'] = df_team_recruit['ncaa_team'].astype('str')

In [26]:
df_team_recruit['conference'] = df_team_recruit['conference'].astype('str')

In [27]:
df_team_recruit.isnull().sum()

Column1                0
primary_key            0
freshman_year          0
name                   0
position               0
high_school            0
ranking                0
rating                 0
stars                  0
committed_to           0
recruit_type           0
height                 0
weight                 0
high_school_city       0
high_school_state      0
high_school_country    0
id                     0
athlete_id             0
ncaa_year              0
ncaa_team              0
conference             0
total_games            0
win                    0
loss                   0
off_Rank               0
def_Rank               0
_merge                 0
dtype: int64

In [38]:
df_team_recruit = df_team_recruit.drop(columns = ['_merge'])

In [48]:
df_team_recruit = df_team_recruit.drop(columns = ['ranking'])

In [59]:
df_dups = df_team_recruit[df_team_recruit.duplicated()]

In [60]:
df_dups

Empty DataFrame
Columns: [Column1, primary_key, freshman_year, name, position, high_school, rating, stars, committed_to, recruit_type, height, weight, high_school_city, high_school_state, high_school_country, id, athlete_id, ncaa_year, ncaa_team, conference, total_games, win, loss, off_rank, def_rank]
Index: []

[0 rows x 25 columns]

In [61]:
df_ath_dups = df_team_recruit[df_team_recruit.duplicated('athlete_id')]

In [62]:
df_ath_dups

,Column1,primary_key,freshman_year,name,position,high_school,rating,stars,committed_to,recruit_type,...,id,athlete_id,ncaa_year,ncaa_team,conference,total_games,win,loss,off_rank,def_rank
138,138,"2018, Arkansas",2018,Michael Woods,WR,Magnolia,0.8756,3,Arkansas,HighSchool,...,43447,4360174,2018,Arkansas,SEC,12,2,10,117,79
140,140,"2018, Arkansas",2018,Joe Foucha,S,McDonogh 35,0.8721,3,Arkansas,HighSchool,...,67906,4371995,2018,Arkansas,SEC,12,2,10,117,79
469,469,"2018, Cincinnati",2018,Arquon Bush,CB,Euclid,0.8646,3,Cincinnati,HighSchool,...,43637,4360067,2018,Cincinnati,AAC,13,11,2,23,11
511,511,"2018, Coastal Carolina",2018,Tyrese Johnson-Fisher,ATH,Oakham School,0.8098,3,Coastal Carolina,HighSchool,...,44951,-1007607,2018,Coastal Carolina,Sun Belt,12,5,7,87,110
714,714,"2018, Florida State",2018,Jaiden Lars-Woodbey,S,St. John Bosco,0.9814,4,Florida State,HighSchool,...,67893,4360468,2018,Florida State,ACC,12,5,7,102,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12763,12763,"2022, Syracuse",2022,Francois Nolton Jr.,DL,Edison,0.8752,3,Syracuse,HighSchool,...,94083,4686285,2022,Syracuse,ACC,13,7,6,76,21
12768,12768,"2022, Syracuse",2022,Denis Jaquez Jr.,EDGE,St. Augustine Prep,0.8596,3,Syracuse,HighSchool,...,94051,4832037,2022,Syracuse,ACC,13,7,6,76,21
12819,12819,"2022, Tennessee",2022,James Pearce Jr.,EDGE,Julius L. Chambers,0.9205,4,Tennessee,HighSchool,...,94105,5081394,2022,Tennessee,SEC,13,11,2,1,91
12888,12888,"2022, Texas A&M",2022,Lebbeus Overton,DL,Milton,0.9932,5,Texas A&M,HighSchool,...,90121,4870960,2022,Texas A&M,SEC,12,5,7,93,52
13001,13001,"2022, UMass",2022,T.Y. Harding,ATH,Buckingham Browne & Nichols School,0.7733,2,UMass,HighSchool,...,94369,4909541,2022,UMass,FBS Independent,12,1,11,129,55

In [63]:
for col in df_team_recruit.columns.tolist():
  weird = (df_team_recruit[[col]].applymap(type) != df_team_recruit[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_team_recruit[weird]) > 0:
    print (col)

In [64]:
df_ath_no_dups = df_team_recruit.drop_duplicates(subset = ['athlete_id'], keep = 'last')

In [65]:
df_ath_no_dups.shape

(13003, 25)

In [66]:
df_ath_no_dups.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'team_recruit.pkl'))