In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\justi\OneDrive\Documents\Career foundry\Data Immersion 6\02 Data\Original Data'

In [23]:
df_team = pd.read_csv(os.path.join(path, 'merge team total.csv'), index_col = False)

In [9]:
df_recruit = pd.read_csv(os.path.join(path, 'merge recruits.csv'), index_col = False)

In [24]:
df_team.head()

,primary_key,year,team,conference,games,win,loss,off_Rank,def_Rank
0,"2018, Air Force",2018,Air Force,MWC,12,5,7,52,43
1,"2019, Air Force",2019,Air Force,Mountain West,13,11,2,51,17
2,"2020, Air Force",2020,Air Force,Mountain West,6,3,3,73,8
3,"2021, Air Force",2021,Air Force,Mountain West,13,10,3,51,4
4,"2022, Air Force",2022,Air Force,Mountain West,13,10,3,59,1

In [25]:
df_team.shape

(647, 9)

In [10]:
df_recruit.head()

,primary_key,year,name,position,school,ranking,rating,stars,committed_to,recruit_type,height,weight,city,state,country,id,athlete_id
0,"2018, Air Force",2018,Jace Bobo,OLB,Cy-Fair,2354.0,0.7953,2,Air Force,HighSchool,73.0,210.0,Cypress,TX,USA,45262,4384540
1,"2018, Air Force",2018,Malik Rodgers,WR,Shadow Creek,2093.0,0.8065,3,Air Force,HighSchool,69.0,165.0,Pearland,TX,USA,45002,4568655
2,"2018, Air Force",2018,Jaylen Jones,S,Alief Hastings,2157.0,0.8054,3,Air Force,HighSchool,73.0,205.0,Houston,TX,USA,45066,4569007
3,"2018, Air Force",2018,Warren Bryan,DUAL,Damien,2868.0,0.7792,2,Air Force,HighSchool,74.0,190.0,La Verne,CA,USA,45775,4571641
4,"2018, Air Force",2018,Chris Kane,TE,San Clemente,1680.0,0.8255,3,Air Force,HighSchool,77.0,213.0,San Clemente,CA,USA,44587,280

In [8]:
df_recruit.shape

(21162, 17)

In [28]:
df_merge_f = df_recruit.merge(df_team, on = 'primary_key', indicator = True).fillna('Na')

In [29]:
df_merge_f.shape

(13243, 26)

In [30]:
df_merge_f.to_csv(os.path.join(path, 'merge_f.csv'))