In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\justi\OneDrive\Documents\Career foundry\Data Immersion 6'

In [3]:
df_team = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'team_code.csv'), index_col = False)

In [4]:
df_team_recruit = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data',  'team_recruit.pkl'))

In [5]:
df_team.head()

       primary_key ncaa_team_state
0  2018, Air Force              CO
1  2019, Air Force              CO
2  2020, Air Force              CO
3  2021, Air Force              CO
4  2022, Air Force              CO

In [6]:
df_team_recruit.head()

,primary_key,freshman_year,name,position,high_school,rating,stars,committed_to,recruit_type,height,...,ncaa_year,ncaa_team,conference,total_games,win,loss,off_rank,def_rank,star_ranking,star_position
0,"2018, Air Force",2018,Jace Bobo,OLB,Cy-Fair,0.7953,2,Air Force,HighSchool,73,...,2018,Air Force,MWC,12,5,7,52,43,2_star,2_star_OLB
1,"2018, Air Force",2018,Malik Rodgers,WR,Shadow Creek,0.8065,3,Air Force,HighSchool,69,...,2018,Air Force,MWC,12,5,7,52,43,3_star,3_star_WR
2,"2018, Air Force",2018,Jaylen Jones,S,Alief Hastings,0.8054,3,Air Force,HighSchool,73,...,2018,Air Force,MWC,12,5,7,52,43,3_star,3_star_S
3,"2018, Air Force",2018,Warren Bryan,DUAL,Damien,0.7792,2,Air Force,HighSchool,74,...,2018,Air Force,MWC,12,5,7,52,43,2_star,2_star_DUAL
4,"2018, Air Force",2018,Chris Kane,TE,San Clemente,0.8255,3,Air Force,HighSchool,77,...,2018,Air Force,MWC,12,5,7,52,43,3_star,3_star_TE

In [7]:
df_team_recruit.shape

(13003, 26)

In [8]:
df_merge = df_team_recruit.merge(df_team, on = 'primary_key', indicator = True).fillna('Na')

In [9]:
df_merge.shape

(13003, 28)

In [10]:
df_merge.head()

,primary_key,freshman_year,name,position,high_school,rating,stars,committed_to,recruit_type,height,...,conference,total_games,win,loss,off_rank,def_rank,star_ranking,star_position,ncaa_team_state,_merge
0,"2018, Air Force",2018,Jace Bobo,OLB,Cy-Fair,0.7953,2,Air Force,HighSchool,73,...,MWC,12,5,7,52,43,2_star,2_star_OLB,CO,both
1,"2018, Air Force",2018,Malik Rodgers,WR,Shadow Creek,0.8065,3,Air Force,HighSchool,69,...,MWC,12,5,7,52,43,3_star,3_star_WR,CO,both
2,"2018, Air Force",2018,Jaylen Jones,S,Alief Hastings,0.8054,3,Air Force,HighSchool,73,...,MWC,12,5,7,52,43,3_star,3_star_S,CO,both
3,"2018, Air Force",2018,Warren Bryan,DUAL,Damien,0.7792,2,Air Force,HighSchool,74,...,MWC,12,5,7,52,43,2_star,2_star_DUAL,CO,both
4,"2018, Air Force",2018,Chris Kane,TE,San Clemente,0.8255,3,Air Force,HighSchool,77,...,MWC,12,5,7,52,43,3_star,3_star_TE,CO,both

In [11]:
df_merge = df_merge.drop(columns = ['_merge'])

In [12]:
df_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'team_recruit_state.pkl'))